<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 콘솔 로거 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 모든 로거의 기본 레벨을 INFO로 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- com.example.ariaapi 패키지 내의 모든 클래스에 대해 DEBUG 레벨로 설정 -->
    <logger name="com.example.ariaapi" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Hibernate SQL 쿼리를 DEBUG 레벨로 출력 -->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!-- Hibernate 파라미터 바인딩을 TRACE 레벨로 출력 -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>